.app {
    max-width: 1200px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.review-messages{
  height: 100vh;
  display: flex;
  flex-direction: column;
}